
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background: white;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: -40px;
  }
  
  #message p {
    margin-top: -40px;
    padding: 10px 35px;
    font-size: 13px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -45px;
    content: "\2714";
    
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -45px;
    /* content: "&#10006;"; */
    content: "\2716";
  }